[user]
    name = Ayush Agarwal
    email = {{ .professional_email }}
    signingkey = E05610F2347FD9F107DF91F6885FB7EE18DE28D9
[commit]
    gpgSign = true
[sendemail]
    smtpserver = smtp.fastmail.com
    smtpuser = {{ .master_email }}
    smtppass = {{ pass "chezmoi/git-personal-smtp-app-pass" }}
    smtpencryption = tls
    smtpserverport = 587
    suppresscc = self
