configuration {
    modi:             "run";
    terminal:         "alacritty";
    matching:         "prefix";
    max-history-size: 15;
    display-run:      "🗲";
    display-calc:     "🖩";
    timeout {
        delay:        120;
        action:       "kb-cancel";
    }
}
@theme "theme"
