[Unit]
Description=Run dnscrypt-adblock once a month
DefaultDependencies=no
Conflicts=shutdown.target
After=network-online.service

[Timer]
OnCalendar=monthly
RandomizedDelaySec=10s
AccuracySec=1us
Persistent=true

[Install]
WantedBy=default.target
