[Unit]
Description=Copy files from /etc to XDG_CONFIG_HOME for version control

[Timer]
OnCalendar=weekly
RandomizedDelaySec=10s
AccuracySec=1us
Persistent=true

[Install]
WantedBy=timers.target
