[Unit]
Description=Run the foot terminal in server mode
BindsTo=swaywm.target
After=swaywm.target

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/bin/foot -s -d warning

[Install]
WantedBy=swaywm.target
