[Unit]
Description=Polkit authentication agent
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/lxqt-policykit-agent
Restart=on-failure

[Install]
WantedBy=graphical-session.target
