[Unit]
Description=periodically rotate the wallpaper
DefaultDependencies=no
Conflicts=shutdown.target

[Timer]
OnBootSec=15min
OnUnitActiveSec=30min

[Install]
WantedBy=swaywm.target
