[Unit]
Description=idle action manager for swaywm
Documentation=man:swayidle(1)
BindsTo=swaywm.target
After=swaywm.target

[Service]
Type=simple
ExecStart=/usr/bin/swayidle \
  timeout 600 'swaymsg "output * dpms off"' \
      resume 'swaymsg "output * dpms on"' \

[Install]
WantedBy=swaywm.target
